<%= image_tag @restaurant.image.url(:medium) %>
<p><%= @restaurant.name %></p>
<p><%= @restaurant.description %></p>
<p><% @restaurant.reviews.each do |review| %>
  Thoughts:<%= review.thoughts %>
  Rating:<%= review.rating %>
  <%= link_to 'Endorse', review_endorsements_path(review), class: 'endorsements-link' %>
  <span class="endorsements_count"><%= review.endorsements.count %></span><%= 'endorsement'.pluralize(review.endorsements.count) %></p>
<% end %>
